<!DOCTYPE html>
<html>
<head>
	<title>详情</title>
	<th:block th:include="/common/layout/header" />
</head>
<body>
	<form class="layui-form layui-form-pane" action="addSave">
		<div class="layui-form-item">
			<label class="layui-form-label">NAME</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.name}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">CORPID</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.corpid}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">ORGID</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.orgid}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">微刊链接</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.url}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">访问总人数</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.visitpsum}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">访问总次数</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.visitsum}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">1:正常，2：禁用，0:删除（其他）</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.status}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">REMARK</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.remark}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">分享次数统计</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.sharesum}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
	</form>
	<th:block th:include="/common/layout/footJs" />
</body>
</html>