<!DOCTYPE html>
<html>
<head>
	<title>详情</title>
	<th:block th:include="/common/layout/header" />
</head>
<body>
	<form class="layui-form layui-form-pane" action="addSave">
		<div class="layui-form-item">
			<label class="layui-form-label">buyerid</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.buyerid}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">corpid</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.corpid}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">lotteryid</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.lotteryid}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">prizeid</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.prizeid}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">1:已中奖，2：已发奖，3：未发奖，0:删除（其他）</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.status}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">remark</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.remark}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
	</form>
	<th:block th:include="/common/layout/footJs" />
</body>
</html>