<!DOCTYPE html>
<html>
<head>
	<title>编辑</title>
	<th:block th:include="/common/layout/header" />
</head>
<body>
	<form class="layui-form layui-form-pane" action="edit">
		<input type="hidden" name="id" th:value="${obj.id}" />
		<div class="layui-form-item">
			<label class="layui-form-label">活动ID</label>
			<div class="layui-input-block">
				<input type="text" name="activityid" th:value="${obj.activityid}" class="layui-input" lay-verify="required" placeholder="请输入活动ID"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">签到人ID</label>
			<div class="layui-input-block">
				<input type="text" name="fansid" th:value="${obj.fansid}" class="layui-input" lay-verify="required" placeholder="请输入签到人ID"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">1.已签到，2中奖，3，已提交信息</label>
			<div class="layui-input-block">
				<input type="text" name="status" th:value="${obj.status}" class="layui-input"  placeholder="请输入1.已签到，2中奖，3，已提交信息"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">描述</label>
			<div class="layui-input-block">
				<input type="text" name="remark" th:value="${obj.remark}" class="layui-input"  placeholder="请输入描述"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">corpid</label>
			<div class="layui-input-block">
				<input type="text" name="corpid" th:value="${obj.corpid}" class="layui-input" lay-verify="required" placeholder="请输入"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">orgid</label>
			<div class="layui-input-block">
				<input type="text" name="orgid" th:value="${obj.orgid}" class="layui-input"  placeholder="请输入"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">微信签到中奖等级</label>
			<div class="layui-input-block">
				<input type="text" name="level" th:value="${obj.level}" class="layui-input"  placeholder="请输入微信签到中奖等级"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">姓名</label>
			<div class="layui-input-block">
				<input type="text" name="lotteryname" th:value="${obj.lotteryname}" class="layui-input"  placeholder="请输入姓名"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block">
				<input type="text" name="sex" th:value="${obj.sex}" class="layui-input"  placeholder="请输入性别"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">最高学历</label>
			<div class="layui-input-block">
				<input type="text" name="education" th:value="${obj.education}" class="layui-input"  placeholder="请输入最高学历"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">学校</label>
			<div class="layui-input-block">
				<input type="text" name="school" th:value="${obj.school}" class="layui-input"  placeholder="请输入学校"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">专业</label>
			<div class="layui-input-block">
				<input type="text" name="specialty" th:value="${obj.specialty}" class="layui-input"  placeholder="请输入专业"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机号</label>
			<div class="layui-input-block">
				<input type="text" name="mobile" th:value="${obj.mobile}" class="layui-input"  placeholder="请输入手机号"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">快递收件地址</label>
			<div class="layui-input-block">
				<input type="text" name="address" th:value="${obj.address}" class="layui-input"  placeholder="请输入快递收件地址"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮编</label>
			<div class="layui-input-block">
				<input type="text" name="zipcode" th:value="${obj.zipcode}" class="layui-input"  placeholder="请输入邮编"/>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
			     <button class="layui-btn" lay-submit="" lay-filter="layui-form-submit-btn">提交</button>
			     <button id="layui-form-cancel-btn" type="button" class="layui-btn layui-btn-primary">取消</button>
			 </div>
		</div>
	</form>
	<th:block th:include="/common/layout/footJs" />
</body>
</html>