<!DOCTYPE html>
<html>
<head>
	<title>修改密码</title>
	<th:block th:include="/common/layout/header" />
</head>
<body>
	<form class="layui-form layui-form-pane" action="/manage/password" method="post">
		
		<div class="layui-form-item">
			<label class="layui-form-label">原密码</label>
			<div class="layui-input-block">
				<input type="password" name="oldPwd"  class="layui-input" lay-verify="required" placeholder="请输入原密码"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">新密码</label>
			<div class="layui-input-block">
				<input type="password" name="newPwd" class="layui-input" lay-verify="required" placeholder="请输入新密码"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">确认密码</label>
			<div class="layui-input-block">
				<input type="password" name="surePwd"  class="layui-input" lay-verify="required" placeholder="请输入确认密码"/>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
			     <button class="layui-btn" lay-submit="" lay-filter="layui-form-submit-btn">提交</button>
			     <button id="layui-form-cancel-btn" type="button" class="layui-btn layui-btn-primary">取消</button>
			 </div>
		</div>
	</form>
	<th:block th:include="/common/layout/footJs" />
	<script src="/static/scripts/system/common.js" charset="utf-8"></script>
</body>
</html>
