<!DOCTYPE html>
<html>
<head>
	<title>详情</title>
	<th:block th:include="/common/layout/header" />
</head>
<body>
	<form class="layui-form layui-form-pane">
		<div class="layui-form-item">
			<label class="layui-form-label">父级角色</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.parentName}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">名称</label>
			<div class="layui-input-block">
				<input type="text" th:value="${obj.name}" class="layui-input" disabled="disabled"/>
			</div>
		</div>
		<div class="layui-form-item">
	   	 	<label class="layui-form-label">状态</label>
	    	<div class="layui-input-block"  th:if="${obj.status==0}">
		      	<input type="radio" name="status" value="0" title="启用" checked="checked">
	    	</div>
	    	<div class="layui-input-block"  th:if="${obj.status==1}">
		      	<input type="radio" name="status" value="1" title="禁用" checked="checked">
	    	</div>
	    </div>
	</form>
	<th:block th:include="/common/layout/footJs" />
</body>
</html>
